@use "./abstracts/reset";
@use "./base.scss";
@use "./components/header/header";
@use "./components/collection/collection";
@use "./components/collectionLeft/collectionLeft";
@use "./components/collectionRight/collectionRight";
@use "./components/footer/footer";
@use "./abstracts/mediaqueries";
