
.sectionRight{
     
        display: flex;
        align-items: center;
        padding: 3rem;
        flex-direction: column;

        &__article{
            background-image: url(../../../img/temple_grandin_without_soh_270_270_s_c1.jpg);
            height: 15rem;
            width: 70%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

        }

        &__date{
            position: absolute;
            right: 0;
            top: 0;
        }

        &__title{
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &__textArea{
            padding: 2rem;
            width: 75%;
        }

        &__buttons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4rem;
            width: 80%;
            
        }

        &__button{
            display: flex;
            align-items: center;
            justify-content: center;

            width: 20rem;
            background: black;
            border-radius: 0.5rem;
            color: white;
            position: relative;
            border: none;
            font-size: 110%;

            &--source{
                border: none;
                background: none;
                position: absolute;
                right: 6%;
                color: black;
            
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
 


    