@use "../../abstracts/colors";
@use "../../abstracts/mixins";
.sectionLeft{        
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    @include mixins.flex;
    
    gap: 2rem;

    
&__article{
    
    
     height: 18rem;
     display: flex;
     align-items: center;
     flex-direction: column;  
     width: 35%;
     position: relative;
     transition: 0.2s all;
     border-radius: 0.5rem;
 
     &:hover{
         cursor: pointer;
         transform: scale(1.1);
     }
 
     &--audio{
         height: 20rem;
         width: 40rem;
         background-repeat: no-repeat;
         background-size: cover;
     }
 }
 
 
 &__date{
   font-size: 100%;
   font-family: sans-serif;
   font-weight: 500;
  height: 2rem;
  
   position: absolute;
   right: 0;
     border-radius: 0 0.5rem 0 0;
   background: rgba(0, 0, 0,0.7);
   color:map-get(colors.$baseColors, "white") ;
     
 }
 
 &__img{
     height: 12rem;
     aspect-ratio: 1/1;
    
  }
 
 &__title{
     position: absolute;
     bottom: 1%;
     left: 0;
     font-size: 2rem;
 }
}

