.collection{
    height: 85%;
    background: green;
    display: grid;
    grid-template-columns: 50% 50%;
 
    &__section{
        
        display: flex;
        flex-wrap: wrap;
        background: red;
        padding: 2rem;
        gap: 2rem;
      

        &--left{
         display: flex;
         align-items: center;
         justify-content: center;
        
        }
    }

    &__article{
        background: blue;
        height: 15rem;
        width: 45%;
      
        
       
    }
}