.header{
width: 100%;
height: 9rem;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0,.8);

&__happyLogo{
    padding: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
   
}

&__happyLogo i{
    font-size: 5rem;
}



}